@media (max-width:450px){
    .vista-cartelera-responsive{
        display: flex !important;
        flex-direction: column;
    }
}

/* CardCartelera */
.card-container {
    position: relative;
}

.card-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

/* HomeFooter */

.lista-home-footer p{
    margin: 5px;
}